.btn-success
{
    background: green !important;
   
}
.btn-danger
{
    background: red !important;
}
.btn-success, .btn-danger, .btn-waiting
{
        border-radius: 10px !important;
        height: 70%;
        font-size: 10px !important;
        border: none;

}
.btn-waiting
{
    background-color: orange;
}
.rdg-row
{
    margin-bottom: 50px !important;
    text-align: center !important;
}
 